{% extends "base.html" %}
{% load static i18n poll_extras %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/assets/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="/static/assets/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="/static/assets/revolution/css/navigation.css">
{% endblock %}

{% block body_class %}{% endblock %}

{% block layout %}

<div class="">
    
    <div class="slider slider-8">
        <div id="rev_slider_11_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="hebes-home-8" data-source="gallery" style="background:transparent;padding:0px;">
            <!-- START REVOLUTION SLIDER 5.4.7 fullscreen mode -->
            <div id="rev_slider_11_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.7">
                <ul>
                    <!-- SLIDE  --> 
                    <li data-index="rs-41" data-transition="parallaxtotop" 
                        data-easein="Power4.easeInOut" 
                        data-easeout="Power4.easeInOut" 
                        data-masterspeed="2000" 
                        data-thumb="/static/img/smartone_thumb.jpg" >
                        <!-- MAIN IMAGE -->
                        <img src="/static/img/bg_slider.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption rev-btn" 
                            id="slide-41-layer-6" 
                            data-x="['left','left','left','left']" data-hoffset="['70','70','50','20']" 
                            data-y="['top','top','top','top']" data-voffset="['490','500','590','410']" 
                            data-fontsize="['14','14','13','13']"
                            data-letterspacing="['3','3','1','1']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="button" 
                            data-responsive_offset="on" 
                            data-responsive="off"
                            data-frames='[{"delay":3300,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,0);bs:solid;bw:0 0 0 0;"}]'
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 5; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 700; color: #000000; letter-spacing: 3px;font-family:'Hind';background-color:rgba(0,0,0,0);border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a href="{{ SMARTONE.get_absolute_url }}" class="btn d-inline-block">{% trans "SHOP NOW" %} <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#f9b233" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a></div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption   tp-resizeme" 
                            id="slide-41-layer-5" 
                            data-x="['left','left','left','left']" data-hoffset="['70','70','50','20']" 
                            data-y="['top','top','top','top']" data-voffset="['242','262','344','230']" 
                            data-fontsize="['72','66','62','40']"
                            data-lineheight="['72','72','68','50']"
                            data-color="['rgb(0,0,0)','rgb(0,0,0)','rgb(249, 178, 51)','rgb(249, 178, 51)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":2500,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 6; white-space: nowrap; font-size: 72px; line-height: 72px; font-weight: 800; color: #000000; letter-spacing: 0px;font-family:'Hind';">{% blocktrans %}Wellness begins<br> with <span style="color:#f9b233">a breath{% endblocktrans %}</span>
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption   tp-resizeme" 
                            id="slide-41-layer-25" 
                            data-x="['left','left','left','left']" data-hoffset="['70','70','50','20']" 
                            data-y="['top','top','top','top']" data-voffset="['406','426','505','340']" 
                            data-fontsize="['18','18','18','15']"
                            data-lineheight="['28','28','28','25']"
                            data-width="920"
                            data-height="85"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":2800,"speed":1700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 7; min-width: 920px; max-width: 920px; max-width: 85px; max-width: 85px; white-space: nowrap; font-size: 18px; line-height: 28px; font-weight: 400; color: #61667a; letter-spacing: 0px;font-family:'Mulish'">{% trans "Record and store test results, trends and symptoms.<br>All directly from your smartphone" %}</div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-14" 
                            id="slide-41-layer-28" 
                            data-x="['left','left','left','left']" data-hoffset="['712','620','300','190']" 
                            data-y="['top','top','top','top']" data-voffset="['70','120','570','420']" 
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="image" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":3900,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 8;"><img src="/static/img/smartone.png" alt="" data-ww="['453px','330px','250px','250px']" data-hh="['729px','531px','401px','401px']" data-no-retina> </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption   tp-resizeme" 
                            id="slide-41-layer-29" 
                            data-x="['left','left','left','left']" data-hoffset="['70','70','50','20']" 
                            data-y="['top','top','top','top']" data-voffset="['110','139','220','80']" 
                            data-width="none"
                            data-fontsize="['14','14','14','12']"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 26px; font-weight: 700; color: #61667a; letter-spacing: 2px;font-family:'Mulish';text-transform: uppercase;">{% trans "PEAK FLOW METERS WITH<br> INTEGRATED OXIMETER" %}
                        </div>
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
                            id="slide-41-layer-30" 
                            data-x="['left','left','left','left']" data-hoffset="['70','70','50','20']" 
                            data-y="['top','top','top','top']" data-voffset="['85','112','195','65']" 
                            data-width="34"
                            data-height="4"
                            data-whitespace="nowrap"
                            data-type="shape" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":1800,"speed":1500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'            
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 10;background-color:rgb(249, 178, 51);"> </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-45" data-transition="parallaxtobottom" 
                        data-easein="Power4.easeInOut" 
                        data-easeout="Power4.easeInOut" 
                        data-masterspeed="2000" 
                        data-thumb="/static/img/smartoneoxi-mani2_thumb.jpg" >
                        <!-- MAIN IMAGE -->
                        <img src="/static/img/bg_slider.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption rev-btn" 
                            id="slide-45-layer-6" 
                            data-x="['left','left','left','left']" data-hoffset="['70','70','50','20']" 
                            data-y="['top','top','top','top']" data-voffset="['555','545','600','450']" 
                            data-fontsize="['14','14','13','13']"
                            data-letterspacing="['3','3','1','1']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="button" 
                            data-responsive_offset="on" 
                            data-responsive="off"
                            data-frames='[{"delay":3200,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,0);bs:solid;bw:0 0 0 0;"}]'
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 5; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 700; color: #000000; letter-spacing: 3px;font-family:'Hind';background-color:rgba(0,0,0,0);border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a href="#" class="btn">{% trans "SHOP NOW" %} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#f9b233" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a> </div>
                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption   tp-resizeme" 
                            id="slide-45-layer-5" 
                            data-x="['left','left','left','left']" data-hoffset="['70','70','50','20']" 
                            data-y="['top','top','top','top']" data-voffset="['242','262','344','230']" 
                            data-fontsize="['72','66','62','40']"
                            data-lineheight="['72','72','62','50']"
                            data-color="['rgb(0,0,0)','rgb(0,0,0)','rgb(249, 178, 51)','rgb(249, 178, 51)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 6; white-space: nowrap; font-size: 72px; line-height: 72px; font-weight: 700; color: #000000; letter-spacing: 0px;font-family:'Hind';">{% blocktrans %}The perfect ally<br> for your <br><span style="color:#f9b233">lung health{% endblocktrans %}</span>
                        </div>
                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption   tp-resizeme" 
                            id="slide-45-layer-25" 
                            data-x="['left','left','left','left']" data-hoffset="['70','70','50','20']" 
                            data-y="['top','top','top','top']" data-voffset="['490','500','555','400']" 
                            data-fontsize="['18','18','18','15']"
                            data-lineheight="['28','28','28','25']"
                            data-width="920"
                            data-height="85"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":2200,"speed":1600,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 7; min-width: 920px; max-width: 920px; max-width: 85px; max-width: 85px; white-space: nowrap; font-size: 18px; line-height: 28px; font-weight: 400; color: #61667a; letter-spacing: 0px;font-family:'Mulish'">{% trans "Look after your mental and physical well-being every day" %}</div>
                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-14" 
                            id="slide-45-layer-28" 
                            data-x="['left','left','left','left']" data-hoffset="['634','532','200','95']" 
                            data-y="['top','top','top','top']" data-voffset="['100','180','633','471']" 
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="image" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":3300,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'            
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 8;"><img src="/static/img/smartoneoxi-mani2.png" alt="" data-ww="['710px','520px','420px','420px']" data-hh="['792px','580px','469px','469px']" data-no-retina> </div>
                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption   tp-resizeme" 
                            id="slide-45-layer-29" 
                            data-x="['left','left','left','left']" data-hoffset="['70','70','50','20']" 
                            data-y="['top','top','top','top']" data-voffset="['110','139','220','80']" 
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 26px; font-weight: 700; color: #61667a; letter-spacing: 2px;font-family:'Mulish';text-transform: uppercase;">{% trans "Easy to use and <br>suitable for everyone" %}
                        </div>
                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
                            id="slide-45-layer-30" 
                            data-x="['left','left','left','left']" data-hoffset="['70','70','50','20']" 
                            data-y="['top','top','top','top']" data-voffset="['85','112','195','65']" 
                            data-width="34"
                            data-height="4"
                            data-whitespace="nowrap"
                            data-type="shape" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":1700,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 10;background-color:rgb(249, 178, 51);"> </div>
                    </li>
                    {% comment %}
                    <!-- SLIDE  --> 
                    <li data-index="rs-46" data-transition="parallaxtobottom" 
                        data-easein="Power4.easeInOut" 
                        data-easeout="Power4.easeInOut" 
                        data-masterspeed="2000" 
                        data-thumb="https://zytheme.com/demos/hebes/assets/images/slider/thumb/20.png" >
                        <!-- MAIN IMAGE -->
                        <img src="/static/img/bg_slider.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 13 -->
                        <div class="tp-caption rev-btn   btn" 
                            id="slide-46-layer-6" 
                            data-x="['left','left','left','left']" data-hoffset="['70','70','50','20']" 
                            data-y="['top','top','top','top']" data-voffset="['490','490','872','641']" 
                            data-fontsize="['14','14','13','13']"
                            data-letterspacing="['3','3','1','1']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="button" 
                            data-responsive_offset="on" 
                            data-responsive="off"
                            data-frames='[{"delay":3200,"speed":1500,"frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,0);bs:solid;bw:0 0 0 0;"}]'
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 5; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 700; color: #000000; letter-spacing: 3px;font-family:Montserrat;background-color:rgba(0,0,0,0);border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a href="#" class="btn">SHOP NOW <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#f9b233" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a> </div>
                        <!-- LAYER NR. 14 -->
                        <div class="tp-caption   tp-resizeme" 
                            id="slide-46-layer-5" 
                            data-x="['left','left','left','left']" data-hoffset="['70','70','50','20']" 
                            data-y="['top','top','top','top']" data-voffset="['242','242','244','267']" 
                            data-fontsize="['72','72','72','50']"
                            data-lineheight="['72','72','72','50']"
                            data-color="['rgb(0,0,0)','rgb(0,0,0)','rgb(249, 178, 51)','rgb(249, 178, 51)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 6; white-space: nowrap; font-size: 72px; line-height: 72px; font-weight: 700; color: #000000; letter-spacing: 0px;font-family:Montserrat;">Wood Chair<br>
                            <span style="color:#606da6">Decor</span>
                        </div>
                        <!-- LAYER NR. 15 -->
                        <div class="tp-caption   tp-resizeme" 
                            id="slide-46-layer-25" 
                            data-x="['left','left','left','left']" data-hoffset="['70','70','50','20']" 
                            data-y="['top','top','top','top']" data-voffset="['406','406','425','383']" 
                            data-fontsize="['18','18','18','15']"
                            data-lineheight="['28','28','28','25']"
                            data-width="920"
                            data-height="85"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":2600,"speed":1600,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 7; min-width: 920px; max-width: 920px; max-width: 85px; max-width: 85px; white-space: nowrap; font-size: 18px; line-height: 28px; font-weight: 400; color: #a1a1a1; letter-spacing: 0px;font-family:Open Sans;">Unique Design, Great Products. The perfect choice for you Please ,<br>choose a category product than you love here</div>
                        <!-- LAYER NR. 16 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-14" 
                            id="slide-46-layer-28" 
                            data-x="['left','left','left','left']" data-hoffset="['610','552','306','100']" 
                            data-y="['top','top','top','top']" data-voffset="['102','221','546','461']" 
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="image" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":3300,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'            
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 8;"><img src="https://zytheme.com/demos/hebes/assets/images/slider/layers/24.png" alt="" data-ww="['581px','453px','426px','295px']" data-hh="['933px','729px','684px','474px']" data-no-retina> </div>
                        <!-- LAYER NR. 17 -->
                        <div class="tp-caption   tp-resizeme" 
                            id="slide-46-layer-29" 
                            data-x="['left','left','left','left']" data-hoffset="['70','70','50','20']" 
                            data-y="['top','top','top','top']" data-voffset="['139','139','147','179']" 
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 26px; font-weight: 700; color: #000000; letter-spacing: 5px;font-family:Montserrat;">TRENDING <br>
                            COLLECTION<br> 
                            2019 
                        </div>
                        <!-- LAYER NR. 18 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
                            id="slide-46-layer-30" 
                            data-x="['left','left','left','left']" data-hoffset="['70','70','50','20']" 
                            data-y="['top','top','top','top']" data-voffset="['112','112','119','160']" 
                            data-width="34"
                            data-height="4"
                            data-whitespace="nowrap"
                            data-type="shape" 
                            data-responsive_offset="on" 
                            data-frames='[{"delay":1700,"speed":1700,"frame":"1500","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 10;background-color:rgb(249, 178, 51);"> </div>
                    </li>
                    {% endcomment %}
                </ul>
            </div>
        </div>
        <!-- END REVOLUTION SLIDER --> 
    </div>


    <section>
        <div class="container-large">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6 px-3 pr-lg-5">
                    <img src="/static/img/ragazza.jpg" alt="" class="w-100 img-rounded img-shadow" data-aos="fade">
                </div>
                <div class="col-12 col-lg-6 col-xl-5 mt-5 mt-lg-0 pt-5 pt-lg-0 mx-auto" style="overflow: hidden;">
                    <h2 class="pb-4" data-aos="fade">{% trans "Why choose Smart One Spirometers?" %}</h2>
                    
                    <div class="mt-5" data-aos="fade-left">
                        <h5 class="mb-0"><span class="c-smartone text-bold">–</span> {% trans "Better quality of life" %}</h5>
                        <p>{% blocktrans %}You can go without eating, drinking or sleeping for some time, but you cannot stop breathing. Healthy lungs guarantee the best quality of life possible for everyone.{% endblocktrans %}</p>
                    </div>
                    <div class="mt-5" data-aos="fade-left" data-aos-delay="150">
                        <h5 class="mb-0"><span class="c-smartone text-bold">–</span> {% trans "Physical well-being" %}</h5>
                        <p>{% blocktrans %}Keeping track of our blood oxygen levels can tell you about significant changes in your fitness. Monitoring your lungs is extremely important. If there is a simple way to do it, even better.{% endblocktrans %}</p>
                    </div>
                    <div class="mt-5" data-aos="fade-left" data-aos-delay="300">
                        <h5 class="mb-0"><span class="c-smartone text-bold">–</span> {% trans "Increased Performance" %}</h5>
                        <p>{% blocktrans %}Being physically active has many benefits, including strengthening your heart and improving pulmonary function. Constantly monitoring your values can help increase performance during sport or rehabilitation.{% endblocktrans %}</p>
                    </div>
                    <div class="mt-5" data-aos="fade-left" data-aos-delay="450">
                        <h5 class="mb-0"><span class="c-smartone text-bold">–</span> {% trans "Simple monitoring" %}</h5>
                        <p>{% blocktrans %}Track blood saturation, keep any lung conditions like asthma or cystic fibrosis under control or simply monitor your lung health.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="cat-list bg-lightBlue text-center-xs pt-140 pt-xs-60 pb-0">
        <div class="watch-face watch-face-topright position-absolute">
            <div class="circle" style="--ca: -70deg"></div>
            <div class="circle" style="--ca: -30deg"></div>
            <div class="circle" style="--ca: 10deg"></div>
            <div class="circle" style="--ca: 50deg"></div>
            <div class="circle" style="--ca: 90deg"></div>
            <div class="circle" style="--ca: 130deg"></div>
            <div class="circle" style="--ca: 170deg"></div>
            <div class="circle" style="--ca: 210deg"></div>
            <div class="circle" style="--ca: 250deg"></div>
        </div>
        <div class="container">
            <div class="row justify-content-center justify-content-md-start">
                <div class="col-10">
                    <div class="heading heading-2 text-center-xs mb-0">
                        <p class="heading--subtitle text-uppercase">{% trans "MIR Spirometers and oximeters for personal care" %}</p>
                        <h2 class="heading--title">{% trans "Wellness begins with a breath" %}</h2>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-2 mb-30-xs text--right d-md-none d-lg-block">
                    <div class="divider--line divider--line-right"></div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <div class="cat--list-desc">
                        <p>{% blocktrans %}Breathing well is essential for a good quality of life. Monitoring how you breathe and the oxigen level in your blood is key for healthy living. Sharing results with your healthcare provider has never been so simple and fast.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item img-rounded" width="560" height="315" src="https://www.youtube.com/embed/krdTsTHYnjg?autoplay=1&mute=1&loop=1&playlist=krdTsTHYnjg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>


    <section id="interactive3" class="interactive interactive-2 interactive-3 pt-150 pt-60-xs">
        <div class="container-large">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-3">
                    <div class="banner-panel" data-aos="fade-up">
                        <div class="num">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="60"
                                viewBox="0 0 280 200" style="enable-background:new 0 0 280 200;" xml:space="preserve" fill="#d6e4ef">
                                <style type="text/css">
                                    .st0{fill-rule:evenodd;clip-rule:evenodd;}
                                </style>
                                <path class="st0" d="M110,199.5c-3.3,0.3-6.7,0.5-10,0.5C44.8,200,0,155.2,0,100S44.8,0,100,0c3.3,0,6.7,0.2,10,0.5v30
                                    c-3.3-0.4-6.7-0.6-10-0.5c-38.7,0-70,31.3-70,70s31.3,70,70,70c3.3,0.1,6.7-0.1,10-0.5V199.5z"/>
                                <path class="st0" d="M280,199.5c-3.3,0.3-6.7,0.5-10,0.5c-55.2,0-100-44.8-100-100S214.8,0,270,0c3.3,0,6.7,0.2,10,0.5v30
                                    c-3.3-0.4-6.7-0.6-10-0.5c-32.9,0-61.3,22.9-68.4,55H260v30h-58.4c7,32.1,35.5,55,68.4,55c3.3,0.1,6.7-0.1,10-0.5V199.5z"/>
                            </svg>
                        </div>
                        <div class="panel--content">
                            <h5>{% trans "Certified quality" %}</h5>
                            <h6>{% trans "MIR MEDICAL GUARANTEE" %}</h6>
                            <p>{% trans "Medical device with CE marking, deductible from healthcare costs" %}</p>
                        </div>
                    </div>
                </div>
                <!-- .interactive-panel end -->
                <div class="col-sm-12 col-md-12 col-lg-3">
                    <div class="banner-panel" data-aos="fade-up" data-aos-delay="150">
                        <div class="num">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="#d6e4ef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
                        </div>
                        <div class="panel--content">
                            <h5>{% trans "Constant tracking" %}</h5>
                            <h6>{% trans "Spirometry and Oximetry" %}</h6>
                            <p>{% trans "Peak Flow, FEV1, SpO2% and BPM" %}</p>
                        </div>
                    </div>
                </div>
                <!-- .interactive-panel end -->
                <div class="col-sm-12 col-md-12 col-lg-3">
                    <div class="banner-panel" data-aos="fade-up" data-aos-delay="300">
                        <div class="num">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="#d6e4ef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m7 7 10 10-5 5V2l5 5L7 17"></path></svg>
                        </div>
                        <div class="panel--content">
                            <h5>{% trans "Easy to use" %}</h5>
                            <h6>{% trans "For tracking and sharing" %}</h6>
                            <p>{% trans "Test results in real time on your smartphone via Bluetooth" %}</p>
                        </div>
                    </div>
                </div>
                <!-- .interactive-panel end -->
                <div class="col-sm-12 col-md-12 col-lg-3">
                    <div class="banner-panel" data-aos="fade-up" data-aos-delay="450">
                        <div class="num">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="#d6e4ef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M22 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                        </div>
                        <div class="panel--content">
                            <h5>{% trans "Suitable for everyone" %}</h5>
                            <h6>{% trans "From 5 to 93 years" %}</h6>
                            <p>{% trans "Every member of the family can use it" %}</p>
                        </div>
                    </div>
                </div>
                <!-- .interactive-panel end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section>


    <section id="cat-list" class="cat-list bg-lightBlue text-center-xs pt-140 pt-xs-60 pb-0 position-relative">
        <div class="watch-face watch-face-topleft position-absolute">
            <div class="circle" style="--ca: -70deg"></div>
            <div class="circle" style="--ca: -30deg"></div>
            <div class="circle" style="--ca: 10deg"></div>
            <div class="circle" style="--ca: 50deg"></div>
            <div class="circle" style="--ca: 90deg"></div>
            <div class="circle" style="--ca: 130deg"></div>
            <div class="circle" style="--ca: 170deg"></div>
            <div class="circle" style="--ca: 210deg"></div>
            <div class="circle" style="--ca: 250deg"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3 mb-30-xs order-2 order-md-0">
                    <div class="divider--line"></div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <div class="heading heading-2 text--right text-center-xs mb-5">
                        <p class="heading--subtitle text-uppercase">{% trans "Device, turbine and Mir Smart One™ APP" %}</p>
                        <h2 class="heading--title">{% trans "Our products" %}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-3">
                    <div class="cat--list-desc">
                        {% blocktrans %}
                        <p>Connect your device to the Mir Smart One™ app via Bluetooth and you can track your lung health day after day, even before speaking to your doctor. Directly from your Smartphone/Tablet, you can view test results in real time, save and share them.</p>
                        <p>The compatible App is available for iOS and Android.</p>
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-6">
                            <div class="cat--list-item">
                                <a href="{{ SMARTONE.get_absolute_url }}">
                                    <img src="/static/img/box_smartone.jpg" alt="Box Smart One" class="img-fluid img-rounded">
                                    <h4>Smart One</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="cat--list-item">
                                <a href="{{ SMARTONEOXI.get_absolute_url }}">
                                    <img src="/static/img/box_smartoneoxi.jpg" alt="Box Smart One Oxi" class="img-fluid img-rounded">
                                    <h4>Smart One Oxi</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="testimonial4" class="testimonial testimonial-4 pt-150 pb-0 pt-xs-60 pb-xs-60">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-10 ">
                    <div class="heading heading-2 mb-5">
                        <h2 class="heading--title">{% trans "Satisfied customers" %}</h2>
                    </div>
                </div>
            </div>
            {% include "includes/testimonial_slider.html" %}
        </div>
    </section>


    <section>
        <div class="container-large">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 px-3 pr-lg-5">
                    <img src="/static/img/about/smartoneoxi-tablet.jpg" alt="" class="w-100 img-rounded img-shadow" data-aos="fade">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5 mx-auto mt-100 mb-50 mb-130-lg order-1 order-lg-2" style="overflow: hidden;">
                    <h2 class="heading--title pb-4" data-aos="fade">{% trans "Evolution in your hands" %}</h2>
                        <div class="mt-5" data-aos="fade-left">
                            <h5 class="mb-0"><span class="c-smartone text-bold">–</span> {% trans "Spirometry" %}</h5>
                            <p>{% blocktrans %}A spirometry test assesses the respiratory function and health of your lungs. It is used to monitor various respiratory and lung conditions, such as asthma and cystic fibrosis, or to track sports performance.{% endblocktrans %}</p>
                        </div>
                        <div class="mt-5" data-aos="fade-left">
                            <h5 class="mb-0"><span class="c-smartone text-bold">–</span> {% trans "Oximetry" %}</h5>
                            <p>{% blocktrans %}Pulse oximetry measures the percentage of haemoglobin that carries oxygen. It is considered a vital sign like blood pressure. Oxygen levels below 95% can be a warning sign that medical intervention is needed.{% endblocktrans %}</p>
                        </div>
                        <div class="mt-5" data-aos="fade-left">
                            <h5 class="mb-0"><span class="c-smartone text-bold">–</span> {% trans "Telemedicine" %}</h5>
                            <p>{% blocktrans %}Keeping track of our blood oxygen levels can tell you about significant changes in your fitness. Monitoring your lungs is extremely important. If there is a simple way to do it, even better.{% endblocktrans %}</p>
                        </div>
                        <div class="mt-5" data-aos="fade-left">
                            <h5 class="mb-0"><span class="c-smartone text-bold">–</span> {% trans "Free App" %}</h5>
                            <p>{% blocktrans %}View test results in real time directly from your smartphone using Bluetooth Smart. Record symptoms, take notes, save and share test results with your GP or anyone you want via email, WhatsApp, SMS and more.{% endblocktrans %}</p>
                        </div>
                </div>
            </div>
        </div>
    </section>


    <section class="py-0">
        <div class="banner-mir">
            <div class="container-large">
                <div class="row">
                    <div class="col-12 col-md-7 col-lg-8 col-xl-7">
                        <div class="banner-mir-content" data-aos="fade">
                            <img src="/static/img/mir-orange.svg" alt="logo MIR" class="img-fluid d-block mb-40" style="width: 55%; max-width: 250px;" data-aos="fade">

                            <h3>{% trans "MIR MEDICAL GUARANTEE" %}</h3>
                            <p class="mb-5">{% trans "The SMART ONE pocket-sized personal spirometer, the Smart One OXI spirometer and oximeter, and the MIR SMART ONE application are developed by MIR, MEDICAL INTERNATIONAL RESEARCH, a leading Italian company in the manufacture of Spirometry, Oximetry and Telemedicine medical devices." %}</p>

                            <div class="d-flex banner-mir-loghi flex-wrap justify-content-start justify-content-sm-start text-center" style="margin-left: -0.5rem; margin-right: -0.5rem">
                                <div>
                                    <img src="/static/img/loghi/logo1.jpg" alt="" class="img-fluid img-rounded mx-2 my-2">
                                    <img src="/static/img/loghi/logo2.jpg" alt="" class="img-fluid img-rounded mx-2 my-2">
                                </div>
                                <div>
                                    <img src="/static/img/loghi/logo3.jpg" alt="" class="img-fluid img-rounded mx-2 my-2">
                                    <img src="/static/img/loghi/logo4.jpg" alt="" class="img-fluid img-rounded mx-2 my-2">
                                </div>
                            </div>
                            
                            <!-- <a href="" class="btn  btn--primary btn--rounded px-5 w-auto">View Smart One</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}



{% block extrascripts %}
    {% include "oscar/partials/extrascripts.html" %}
    {{ block.super }}

    <script src="/static/assets/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script src="/static/assets/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <script src="/static/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="/static/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/static/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="/static/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/static/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/static/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/static/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="/static/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/static/assets/js/rsconfig.js"></script>
    <script src="/static/js/imagesloaded.min.js" ></script>

    <script>
        var revapi11,tpj;
        (function () {
            if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad)
            else
                onLoad();

            function onLoad() {
                if (tpj === undefined) {
                    tpj = jQuery;

                    if ("off" == "on") tpj.noConflict();
                }
                if (tpj("#rev_slider_11_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_11_1");
                } else {
                    revapi11 = tpj("#rev_slider_11_1").show().revolution({
                        sliderType: "standard",
                        jsFileLocation: "assets/revolution/js/",
                        sliderLayout: "fullscreen",
                        dottedOverlay: "none",
                        minHeight: 700,
                        delay: 8000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            mouseScrollReverse: "default",
                            onHoverStop: "off",
                            arrows: {
                                style: "metis",
                                enable: true,
                                hide_onmobile: false,
                                hide_onleave: false,
                                tmp: '',
                                left: {
                                    h_align: "right",
                                    v_align: "top",
                                    h_offset: 180,
                                    v_offset: 110
                                },
                                right: {
                                    h_align: "right",
                                    v_align: "top",
                                    h_offset: 30,
                                    v_offset: 110
                                }
                            },
                            bullets: {
                                enable: true,
                                hide_onmobile: false,
                                style: "metis",
                                hide_onleave: false,
                                direction: "horizontal",
                                h_align: "right",
                                v_align: "top",
                                h_offset: 50,
                                v_offset: 110,
                                space: 7,
                                tmp: '<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
                            }
                        },
                        // Responsive breakpoints set the same as the Bootstrap breakpoints, for some reason they have to be -15 from the actual breakpoint.
                        responsiveLevels: [1240, 977, 753, 561],
                        visibilityLevels: [1240, 977, 753, 561],
                        gridwidth: [1240, 977, 753, 561],
                        gridheight: [700, 768, 960, 720],
                        lazyType: "none",
                        parallax: {
                            type: "mouse",
                            origo: "enterpoint",
                            speed: 400,
                            speedbg: 0,
                            speedls: 0,
                            levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 3, 2, 55],
                        },
                        shadow: 0,
                        spinner: "spinner0",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        fullScreenAutoWidth: "off",
                        fullScreenAlignForce: "off",
                        fullScreenOffsetContainer: "",
                        fullScreenOffset: "",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                    var api = revapi11;

                    /* no need to edit below */
                    var divider = ' / ',
                        totalSlides,
                        numberText;

                    api.one('revolution.slide.onloaded', function () {

                        totalSlides = api.revmaxslide();
                        numberText = api.find('.slide-status-numbers').text('1' + divider + totalSlides);

                        api.on('revolution.slide.onbeforeswap', function (e, data) {

                            numberText.text((data.nextslide.index() + 1) + divider + totalSlides);

                        });

                    });
                }; /* END OF revapi call */
            }; /* END OF ON LOAD FUNCTION */
        }()); /* END OF WRAPPING FUNCTION */
    </script>

    <script>

        // aos
        AOS.init();

        // stile header
        $(window).scroll(function() {
            checkHeaderShadow()
        });

        function checkHeaderShadow(){
            if ($(window).scrollTop() > 200) {
            $('#navbar-spy').removeClass('header-noshadow');
            }
            else {
                $('#navbar-spy').addClass('header-noshadow');
            }
        }

        checkHeaderShadow();


        $(window).scroll(function() {
        $(".heading--title").each(function(){
            var top_of_element = $(this).offset().top;
            var bottom_of_element = $(this).offset().top + $(this).outerHeight();
            var bottom_of_screen = $(window).scrollTop() + window.innerHeight;
            var top_of_screen = $(window).scrollTop();

            if((bottom_of_screen > top_of_element) && (top_of_screen < bottom_of_element)){
                $(this).addClass('tlt');
                $(this).textillate({ in: { effect: 'fadeIn', delay: 20 } });
            }
        });
    });

    </script>

{% endblock %}