{% extends 'oscar/layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <section id="page-title" class="page-title mt-0 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="pt-60 text-center">
                        <div class="title--content">
                            <div class="title--heading">
                                <h1>{% trans "Password reset complete" %}</h1>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <ol class="breadcrumb">
                            <li><a href="{{ homepage_url }}">{% trans 'Home' %}</a></li>
                            <li><a href="{% url 'password-reset' %}">{% trans 'Password reset' %}</a></li>
                            <li class="active">{% trans 'Complete' %}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block headertext %}{% endblock %}

{% block content %}
<section class="pt-40">
    <div class="container">
        <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
        <p><a href="{{ login_url }}" class="btn btn--primary w-auto px-5">{% trans 'Log in' %}</a></p>
    </div>
</section>
{% endblock %}
