{% extends 'oscar/layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Enter a new password' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <section id="page-title" class="page-title mt-0 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="pt-60 text-center">
                        <div class="title--content">
                            <div class="title--heading">
                                <h1>{% trans "Enter a new password" %}</h1>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <ol class="breadcrumb">
                            <li><a href="{{ homepage_url }}">{% trans 'Home' %}</a></li>
                            <li><a href="{% url 'password-reset' %}">{% trans 'Password reset' %}</a></li>
                            <li class="active">{% trans 'Enter a new password' %}</li>
                        </ol>
                    </div>
                    <!-- .title end -->
                </div>
                <!-- .col-lg-12 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section>
{% endblock %}

{% block headertext %}{% endblock %}

{% block content %}
<section class="pt-40">
    <div class="container">
        {% if validlink %}
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            <form id="password_reset_form" method="post" class="contact-3">
                {% csrf_token %}
                {% include 'oscar/partials/form_fields.html' %}
                <div class="form-group form-actions">
                    <button class="btn btn--primary w-auto px-4" type="submit" data-loading-text="{% trans 'Changing...' %}">{% trans 'Change my password' %}</button>
                </div>
            </form>
        {% else %}
            <h1>{% trans 'Password reset unsuccessful' %}</h1>
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}
    </div>
</section>
{% endblock %}
