{% extends "oscar/communication/emails/base.html" %}
{% load i18n %}
{% block body %}
<h3>{% trans "New application" %}</h3>
<br>
<strong>{% trans "Name" %}:</strong> {{ obj.name }}<br>
<strong>{% trans "Surname" %}:</strong> {{ obj.surname }}<br>
<strong>{% trans "E-mail" %}:</strong> {{ obj.email }}<br>
<strong>{% trans "Phone" %}:</strong> {{ obj.phone }}<br>
{% if obj.area %}<strong>{% trans "Area of interest" %}:</strong> {{ obj.area }}<br>{% endif %}
<strong>{% trans "Message" %}: </strong><br>
{{ obj.message }}
<br><br>
{% if obj.privacy %}{% trans "The person has given consent to the processing of personal data" %}<br>{% endif %}
<br><br>
<strong>{% trans "Sent" %} </strong> {{ obj.date_received }}
{% endblock %}