{% load i18n %}

<form {% if form_id %}id="{{ form_id }}"{% endif %} class="{{ class }}" method="{{ method|default:"post" }}"
    {% if action %}action="{{ action }}"{% endif %}
    {% if includes_files %}enctype="multipart/form-data"{% endif %}>

    {% if not method == "get" %}{% csrf_token %}{% endif %}
    {% include 'oscar/partials/form_fields.html' %}
    <div class="pt-3 form-group{% if style == 'horizontal' %} row{% endif %}">
        <div class="{% if style == 'horizontal' %}offset-sm-4 col-sm-8{% endif %} d-flex flex-column flex-sm-row">
            <a href="#" onclick="window.history.go(-1);return false" class="btn btn--secondary w-auto px-5 mb-2 mr-sm-2">{% trans "cancel" %}</a>
            <button class="btn btn--primary w-auto px-5 mb-2" type="submit" data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button>
        </div>
    </div>
</form>
