{% extends "oscar/customer/baseaccountpage.html" %}

{% load i18n %}

{% block header %}{% endblock %}

{% block tabcontent %}
    <table class="table table-noborder">
        <tbody>
            <tr>
                <th style="width: 35%;">{% trans 'Name' %}</th>
                <td style="width: 65%;">{{ user.get_full_name|default:'-' }}</td>
            </tr>
            <tr>
                <th>{% trans 'Email address' %}</th>
                <td>{{ user.email }}</td>
            </tr>
            {% block profile_fields %}
                {% for field in profile_fields %}
                    <tr>
                        <th>{{ field.name }}</th>
                        <td>{{ field.value|default:"-" }}</td>
                    </tr>
                {% endfor %}
            {% endblock %}
            <tr>
                <th>{% trans 'Date registered' %}</th>
                <td>{{ user.date_joined }}</td>
            </tr>
        </tbody>
    </table>

    <div class="mt-40 d-flex flex-column flex-lg-row w-100">
        <a href="{% url 'customer:change-password' %}" class="btn btn--primary w-auto px-4 mb-2 mr-lg-2">{% trans 'Change password' %}</a>
        <a href="{% url 'customer:profile-update' %}" class="btn btn--primary w-auto px-4 mb-2">{% trans 'Edit profile' %}</a>
        <a id="delete_profile" href="{% url 'customer:profile-delete' %}" class="btn px-4 mb-2 text-white btn-danger ml-lg-auto w-auto ml-2">{% trans 'Delete profile' %}</a>
    </div>
    

{% endblock %}
